@using PasswordManager.Models.Classes
@using PasswordManager.Models.Enums
@{
	@model SecretBase
	ViewData["Title"] = "Create Password";
}

<h1>Create</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePassword" method="post">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Value</label>
                <input type="text" asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <select asp-for="SecretType" class="form-control">
                    <option value="@EnumSecretType.Pincode">@EnumSecretType.Pincode</option>
                    <option value="@EnumSecretType.SitePassword">@EnumSecretType.SitePassword</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button asp-action="Index" class="btn btn-secondary">Back</button>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>