@using PasswordManager.Models.Classes
@{
	@model SecretBase
	ViewData["Title"] = "Delete Password";
}

<h1>Delete</h1>

<p>Are you sure you want to delete the client <strong>@Model.Name</strong>?</p>

<form asp-action="DeletePassword" method="post">
	<button type="submit" class="btn btn-danger">Confirm Delete</button>
	<button asp-action="Index" class="btn btn-secondary">Back</button>
</form>