@{
	@model Pincode
	ViewData["Title"] = "Edit Password";
}

<h1>Edit</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPincode" method="post">
            <input type="text" asp-for="Id" class="form-control" hidden/>
            <input type="text" asp-for="ClientId" class="form-control" hidden/>

            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Name)</label>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Value)</label>
                <div class="input-group">
                    <input type="password" asp-for="Value" value="@Model.Value" class="form-control" id="masterPasswordInput" />
                    <button type="button" class="btn btn-outline-secondary" id="togglePasswordBtn" tabindex="-1">Show</button>
                </div>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary">Edit</button>
            <a asp-action="Index" class="btn btn-link">Back</a>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>