@{
	@model ClientBase
	ViewData["Title"] = "Delete Account";
}

<h1>Delete</h1>

<p>Are you sure you want to delete your account <strong>@Model.Email</strong>?</p>

<form asp-action="DeleteAccountConfirm" method="post">
	<input type="text" asp-for="Id" class="form-control" hidden />

	<button type="submit" class="btn btn-danger">Confirm Delete</button>
	<a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
</form>