@{
	@model ClientBase
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginAccount" method="post">
            
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Email)</label>
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.MasterPassword)</label>
                <div class="input-group">
                    <input type="password" asp-for="MasterPassword" value="@Model.MasterPassword" class="form-control" id="masterPasswordInput" />
                    <button type="button" class="btn btn-outline-secondary" id="togglePasswordBtn" tabindex="-1">Show</button>
                </div>
                <span asp-validation-for="MasterPassword" class="text-danger"></span>
            </div>

            <br/>
            <button type="submit" class="btn btn-primary">Login</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-link">Back</a>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>
</div>