@{
	@model ClientBase
	ViewData["Title"] = "Delete Admin";
}

<h1>Delete</h1>

<p>Are you sure you want to delete the client <strong>@Model.Email</strong>?</p>

<form asp-action="DeleteClientConfirm" method="post">
	<input type="text" asp-for="Id" class="form-control" hidden />

	<button type="submit" class="btn btn-danger">Confirm Delete</button>
	<a asp-action="Index" asp-controller="Clients" class="btn btn-primary">Back</a>
</form>