@{
    ViewData["Title"] = "Home Page";
}

<div class="row-cols-8 text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row-cols-8">
    <p>My <a href="https://github.com/dan-kst/PasswordManager">Github</a> Repository. Here you can:</p>
    <ul>
        <li>Create Passwords(Before you need to Login or Register)</li>
        <li>Edit Passwords</li>
        <li>Delete Passwords</li>
        <li>Create Users and Admins (If you are Admin)</li>
        <li>Delete Users</li>

    </ul>
    <p>
        First, you will be registered as User. You can register as Admin,
        if you find key in code files and paste in address line via <i>"[localhost]/Clients/Create/Admin<b>?key=value</b>"</i>
    </p>
</div>
<div class="row-cols-8">
</div>
