@{
	@model Admin
	ViewData["Title"] = "Delete Admin";
}

<h1>Delete</h1>

<p>Are you sure you want to delete the client <strong>@Model.Email</strong>?</p>

<form asp-action="DeleteClient" method="post">
	<button type="submit" class="btn btn-danger">Confirm Delete</button>
	<a href="@Url.Action("Index", "Clients")" class="btn btn-secondary">Cancel</a>
</form>